.card{
        box-sizing: border-box;
        border: 2px solid #888;
        padding: 12px;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.card-content{
    display: block;
    padding: 18px;
}

.card-button{
    display: block;
    margin-top: 30px;
    padding: 18px;
    background-color: #fff;
    border: 1px solid #4793af;
    border-radius: 20px;
}

.card-button:hover{
    background-color: #4793af;
    border: 1px solid #fff;
    color: #fff;
}

.fa-angle-right {
    margin-left: 12px;
}

